<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nicebao.chatroom.dao.FriendMapper">
    <insert id="addFriendByFriendId">
        insert into friend values(#{userId}, #{friendId})
    </insert>
    <insert id="replyToFriendRequest">
        INSERT INTO friend_requests
    </insert>
    <insert id="addFriendRequest">
        INSERT INTO friend_request (sender_id, receiver_id, status, message)
        VALUES (#{senderId}, #{receiverId}, #{status}, #{message})
    </insert>
    <insert id="saveVerificationMessage">
        insert into verification_message(request_id,sender_id,message)values(#{requestId},#{senderId},#{message})
    </insert>
    <update id="updateFriendRequestStatus">
        update friend_request
        SET status = #{status}
        WHERE id = #{id}
    </update>
    <select id="isFriendExists" resultType="integer">
        SELECT COUNT(*)
        FROM friend
        WHERE userId = #{userId} AND friendId = #{friendId}
    </select>



    <select id="getFriendListById" resultType="com.nicebao.chatroom.model.Friend">
        select userId as friendId, username as friendName from user
        where userId in
              (select friendId from friend where userId = #{userId})
    </select>


    <select id="isExistMessageSession" resultType="integer">
        SELECT sessionId
        FROM message_session_user
        WHERE message_session_user.userId IN (#{userId}, #{friendId})
        GROUP BY sessionId
        HAVING COUNT(DISTINCT userId) = 2;
    </select>
    <select id="getMessageSessionFriendsBSessionId" resultType="com.nicebao.chatroom.model.Friend">
        select userId as friendId, username as friendName from user
        where userId in
              (select userId from message_session_user where sessionId = #{sessionId})
    </select>


    <select id="searchFriendsByFriendName" resultType="com.nicebao.chatroom.model.Friend">
        select userId as friendId, username as friendName from user
        where username = #{username}
    </select>
    <select id="getFriendRequestById" resultType="com.nicebao.chatroom.model.FriendRequest">
        select * from friend_request where id = #{friendRequestId}
    </select>
    <select id="getFriendRequestList" resultType="com.nicebao.chatroom.model.FriendRequest">
        SELECT
            fr.id,
            fr.sender_id,
            fr.receiver_id,
            u1.username AS sender_name,
            u2.username AS receiver_name,
            fr.updated_at,
            fr.status
        FROM
            friend_request fr
                LEFT JOIN
            user u1 ON fr.sender_id = u1.userId
                LEFT JOIN
            user u2 ON fr.receiver_id = u2.userId
        WHERE
            fr.sender_id = #{userId} OR fr.receiver_id = #{userId}
        ORDER BY
            fr.updated_at ASC;
    </select>
    <select id="getFriendRequestStats" resultType="java.lang.String">
        select `status` from friend_request
        where id = #{friendRequestId}
    </select>


</mapper>