<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nicebao.chatroom.dao.FriendMapper">
    <insert id="addFriendByFriendId">
        insert into friend values(#{userId}, #{friendId})
    </insert>
    <select id="isFriendExists" resultType="integer">
        SELECT COUNT(*)
        FROM friend
        WHERE userId = #{userId} AND friendId = #{friendId}
    </select>



    <select id="getFriendListById" resultType="com.nicebao.chatroom.model.Friend">
        select userId as friendId, username as friendName from user
        where userId in
              (select friendId from friend where userId = #{userId})
    </select>


    <select id="isExistMessageSession" resultType="integer">
        SELECT sessionId
        FROM message_session_user
        WHERE message_session_user.userId IN (#{userId}, #{friendId})
        GROUP BY sessionId
        HAVING COUNT(DISTINCT userId) = 2;
    </select>
    <select id="getMessageSessionFriendsBSessionId" resultType="com.nicebao.chatroom.model.Friend">
        select userId as friendId, username as friendName from user
        where userId in
              (select userId from message_session_user where sessionId = #{sessionId})
    </select>


    <select id="searchFriendsByFriendName" resultType="com.nicebao.chatroom.model.Friend">
        select userId as friendId, username as friendName from user
        where username = #{username}
    </select>


</mapper>